body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: calc(50vh - 200px);
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
}

h1 {
    font-size: 24px;
}

.startButton {
    padding: 12px 24px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.recognizedText {
    font-size: 16px;
    margin-bottom: 24px;
}

.progressBar {
    max-width: 90%;
    width: 256px;
    height: 16px;
}

.progressBar::-webkit-progress-value {
    background-color: #007bff;
}

.progressBar::-webkit-progress-bar {
    background-color: #ccc; 
}

.lights {
    display: flex;
    gap: 10px;
    margin-bottom: 24px;
}

.light {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.light__correct__default {
    background-color: #D8FFE0;
}

.light__wrong__default {
    background-color: #FFD8D8;
}

.light__correct__active {
    background-color: #49FC90;
}

.light__wrong__active {
    background-color: #FC4949;
}

